<header class="row bg-secondary">
<div class="col-md-4 text-primary "><h2 class="pl-3">Successive Technologies</h2></div>
<div class="col-md-8 d-flex justify-content-end pr-5 pt-3"><button [routerLink]="['/sign-up']" routerLinkActive="router-link-active"  class="btn btn-outline-dark ">Sign-up</button></div>
</header>
<body>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs bg-secondary ">
    <li [ngbNavItem]="1" class="text-dark">
      <a ngbNavLink [routerLink]="['/userList']" routerLinkActive="router-link-active" >User List</a>
      <ng-template ngbNavContent>
      
      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="text-dark" [disabled]='true'>
      <a ngbNavLink [routerLink]="['/userDetails']" routerLinkActive="router-link-active" >User Details</a>
      <ng-template ngbNavContent>
       
      </ng-template>
    </li>
  
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <router-outlet></router-outlet>
</body>
