<div class="container-fluid ">
    <div class="card">
<table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Id</th>
        <th scope="col">Avatar</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
       

      <tr [routerLink]="['/userDetails']" [queryParams]="{'id':item?.id}" routerLinkActive="router-link-active"  *ngFor="let item of userLst">
          <td>{{item.id}}</td>
        <td scope="row"><img [src]='item?.avatar'></td>
        <td>{{item?.first_name}}</td>
        <td>{{item?.last_name}}</td>
        <td>{{item?.email}}</td>
      </tr>
     
    </tbody>
  </table>

  
  
  <mat-paginator #paginator [pageSize]="count"  [length]="length"
      [pageIndex]="page" (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</div>
</div>
